@font-face {
    font-family: 'iconfont';
    /* project id 1920358 */
    src: url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.eot');
    src: url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.woff') format('woff'),
        url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1920358_9rt1b3qpot.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
.container-fluid {
    height: 100%;
}

.container-fluid {
    background-image: url(../img/login-bg.jpeg);
    background-size: cover;
}

.container-fluid .top {
    height: 10%;
}

.container-fluid .middle {
    height: 60%;
}

.container-fluid .bottom {
    height: 25%;
}

.container-fluid .middle .left-div {
    height: 100%;
}

.container-fluid .middle .middle-div {
    height: 100%;
}

.container-fluid .middle .right-div {
    height: 100%;
    position: relative;
}

.container-fluid .middle .middle-div .login-box-bg {
    position: absolute;
    height: 380px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.container-fluid .middle .middle-div .login-box-bg-phone {
    position: absolute;
    height: 23rem;
    width: 22rem;
    background-color: #ffffff;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.container-fluid .middle .middle-div .login-box-bg .login-box,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80%;
    width: 80%;
}

.container-fluid .middle .middle-div .login-box-bg .login-box>span {
    display: block;
    color: #fa911e;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 30px;
}

.container-fluid .middle .middle-div .login-box-bg-phone .login-box>span {
    display: block;
    color: #fa911e;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}

.container-fluid .middle .middle-div .login-box-bg .login-box .divusername,
.container-fluid .middle .middle-div .login-box-bg .login-box .divpassword,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .divusername,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .divpassword {
    border: 1px solid #e7e7e7;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .middle .middle-div .login-box-bg .login-box .divusername>span,
.container-fluid .middle .middle-div .login-box-bg .login-box .divpassword>span,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .divusername>span,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .divpassword>span {
    display: inline-block;
    width: 13%;
    text-align: center;
}

.container-fluid .middle .middle-div .login-box-bg .login-box input,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box input {
    width: 87%;
    border: 0;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c0c0c0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c0c0c0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c0c0c0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c0c0c0;
}

.container-fluid .middle .middle-div .login-box-bg .login-box .error,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .error {
    color: #fa911e;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.container-fluid .middle .middle-div .login-box-bg .login-box .login,
.container-fluid .middle .middle-div .login-box-bg-phone .login-box .login {
    display: block;
    background-color: #fa911e;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
}

.copyright {
    height: 5%;
    text-align: center;
    font-size: 18px;
}